Button {
    background-color: #FF533D;
}

.mdbpopover {
    width: 100%;
}

figure:hover {
    overflow: visible;
    display: table;
}

figcaption {
    white-space: nowrap;
    width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

figcaption:hover {
    overflow: visible;
    display: table;
}

.floatLeft {
    float: left;
}

h1 {
    color: "#FF533D";
}

.infoCard {
    margin-bottom: 1%;
    height: 87%;
}

.listingBtn {
    height: 40vh;
}

.listingBtn:hover {
    background-color: lightgrey;
}

.listingImg {
    height: 25vh;
}

.categoryName {
    color: #FF533D;
}

.categoryDesc {
    font-style: italic;
    font-size: small;
}