.App {
  text-align: left;
  max-width: 100vw;
  max-height: 100vh;
  
  /*
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  */
  font-size: calc(5px + 2vmin);
}

.In-line-elements {
  align-content: left;
}

.listing {
  width: 95%;
  background-color: black;
}

.element {
  padding: 2.5%;
  width: 100%;
  height: 100%;
  /* background-color: #373737; */
}

.footerMessage {
  position: fixed;
  left: 0%;
  bottom: 0%;
  margin-bottom: 0%;
  width: 100%;
  background-color: #F4F4F4;
  text-align: center;
}
