.infoCard {
    text-align: right;
    width: 350px;
    height: 100px;
    /* Add text adjust (wrap?) */
}

.infoCardBorder {
    border-radius: 10px;
    border: 2.5px solid #614a4a;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.infoCardCol {
    padding: 10px;
    width: 100%;
}

.infoCardImg {
    height: 60%;
    float: left;
    padding: 5px;
}

.p {
    font-family: "Times New Roman", Times, serif;
}